.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.slectedgeners{

}
.SelectedGerner{
    cursor: pointer;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.genes{}

.genre{
    cursor: pointer;
}